<footer class="p-5 text-white" style="background-color: #2D6A8A;">
    <div class="container">
        <div class="row">
            <!-- Logo e información -->
            <div class="col-12 col-md-5 mb-4 mb-md-0">
                <div><img src="../../../assets/img/logo.jpg" alt="logo" width="50" height="50"></div>
                <p class="mt-4">
                    Vive el encanto del océano. Descansa con alma.
                </p>
            </div>
            <!-- Sección de enlaces -->
            <div class="col-12 col-md-3 mb-4 mb-md-0">
                <h4>Hotel</h4>
                <p class="mt-2">Sobre nosotros</p>
                <p>Información legal</p>
            </div>
            <!-- Sección de contacto -->
            <div class="col-12 col-md-4">
                <h4>Contáctanos</h4>
                <p class="mt-2">Tel: 3121231122</p>
                <p>Email: hotel@hotelcolima.com</p>
                <p>100 Smart Street, LA, USA</p>
                <div class="d-flex">
                    <i class="fab fa-facebook me-3"></i>
                    <i class="fab fa-instagram me-3"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
            </div>
        </div>
    </div>
</footer>