body, html {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

.table-reservaciones th,
.table-reservaciones td,
.table-reservaciones thead {
    background-color: #FFFAF0 !important;
}

.admin-only {
    display: none;
}