.hab-card, .serv-card{
    background-color: #FFFAF0;
}

.subtitles {
    color: #1B3C4B;
    border-bottom-color: #1B3C4B !important;
}

body, html {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}
